.grid-client {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-rows: 1fr;
}

.grid-client::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid-client > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid-client > * {
    background: rgba(0,0,0,0.1);
    border: grey 1px solid;
}
